
{% extends "base.html" %}
{% block meta_description %}
  <meta name="description" content="Technicolor Test List Files">
{% endblock meta_description %}
{% block page_title %}Technicolor Test - David Dilley{% endblock page_title %}

{% block body %}
<section>
	<p>
		For a given directory (defaults to project root)
		that is within this 'test' project, this will list said directory's files and display the result below.
	</p>
	<hr />
	<b>form-based:</b><br />
	<label>{{ file_scope }}/</label><input id="path" name="path" type="text" /><button id="submit_button">get results</button>
	<hr />
	<b>url-paramter-based links:</b><br />
	<ul>
		<li><a href='/files?path=dotcom%2Fblueprints'>{{ file_scope }}/dotcom/blueprints</a></li>
		<li><a href='/files?path=dotcom%2Fblueprints%2Fhomepage%2Ftemplates'>{{ file_scope }}/dotcom/blueprints/homepage/templates</a></li>
		<li><a href='/files?path=dotcom%2Fblueprints%2Fhomepage%2Fassets'>{{ file_scope }}/dotcom/blueprints/homepage/assets</a></li>
		<li><a href='/files?path=test_lib%2Futil'>{{ file_scope }}/test_lib/util</a></li>
	</ul>
	<hr />
</section>
<section>
	<h1>Results:</h1>
	<div id="results">
		{% if ret %}currently empty{% endif %}
	</div>
</section>
{% endblock body %}
{% block page_script %}
<script type="text/javascript">
	$(document).ready(function() {
		// listen for login attempt events
	    $(document).on("refreshResults", function(event, data) {
	        if(data.success) {
	        	$('#results').empty();
	        	$('#results').append(data.ret);
	        } else {
	        	alert('Invalid credentials, please try again.');
	        }
	    });
	    // on form submit, post json payload to /login
	    // and raise loginAttempted with attempt's data
		$('#submit_button').on('click', function(e) {
			e.preventDefault();
	        $.post("/files",
	            {
	                'path':  $('#path').val()
	            },
	            function(eventData){
	                $(document).trigger("refreshResults", [eventData]);
	            },
	            "json"
	        );
	        return false;
		});
		if({{ 'true' if ret and ret|length>0 else 'false' }}) {
			$('#results').empty();
	        $('#results').append('{{ ret }}');
		}
	});
</script>
{% endblock page_script %}
