
{% extends "base.html" %}
{% block meta_description %}
  <meta name="description" content="Technicolor Test List Users">
{% endblock meta_description %}
{% block page_title %}Technicolor Test - David Dilley{% endblock page_title %}

{% block body %}
<section>
	<p>
		This endpoint accepts GET url parameters to filter the user list (from Mongo)
		by url parameter 'city' (correlates with user.city) & sorts them ordered 
		by url parameter 'gender' (correlates with user.gender where 0=female and 1=male)
		For the sake of , here are some links to this endpoint with parameters specified:
		<ul>
			<li>where city is 'Los Angeles' ordered by gender: <a href="/users?city=Los+Angeles&ordered_by=gender">127.0.0.1:5000/users?city=Los+Angeles&gordered_by=gender</a></li>
			<li>where city is 'Los Vegas' ordered by user.gender: <a href="/users?city=Los+Angeles&ordered_by=gender">127.0.0.1:5000/users?city=Los+Vegas&&ordered_by=gender</a></li>
			<li>where city is None ordered by user.city: <a href="/users?ordered_by=city">127.0.0.1:5000/users?ordered_by=gender</a></li>
			<li>where city is None ordered by user.username: <a href="/users?ordered_by=username">127.0.0.1:5000/users?ordered_by=username</a></li>
		</ul> 
	</p>
</section>
<section>
	{% if users %}
		<h1>Users result set for city '{{ city if city else 'None' }}' ordered by '{{ ordered_by if ordered_by else 'None' }}'</h1>
		<hr />
		<div>
	        <table style="border: solid 1px;">
	            <thead>
	                <tr>
	                    <th>username</th>
	                    <th>city</th>
	                    <th>gender</th/>
	                </tr>
	            </thead>
	            <tbody>
	                {% for user in users %}
		                <tr>
		                    <td>{{ user.username }}</td>
		                    <td>{{ user.city }}</td>
		                    <td>{{ user.gender }}</td>
		                </tr>
	                {% endfor %}
	            </tbody>
	        </table>
	    </div>
	    <br />
		<p>
			<h2>users data:</h2><br />
			{{ users }}
		</p>
	{% endif %}
</section>
{% endblock body %}

