
<div id="nav>">
	<ul> 
	   	<li class="account"> <a itemprop="url" href="{{ url_for('homepage.login') }}" itemprop="url">login</a></li>
	    <li class="users"> <a itemprop="url" href="{{ url_for('homepage.list_users') }}" itemprop="url">list users</a></li>
	    <li class="files"> <a itemprop="url" href="{{ url_for('homepage.list_files') }}" itemprop="url">list files</a></li>
	    <li class="statuses"> <a itemprop="url" href="{{ url_for('homepage.statuses_handler') }}" itemprop="url">check statuses</a></li>
	</ul>
</div>
